{{!<main>
    <div class="p-5 box">
        <h1>Hello wordl</h1>
        <h2 id="user">Hello wordl</h2>
        <h1>Hello wordl</h1>
        <h1>Hello wordl</h1>
        <button type="button" class="button">Купити</button>
        <section class="p-5 box">
            <h1>Hello wordl</h1>
            <p class="user">
                <Link>
            </p>
        </section>
    </div>

</main>!}}


<main class=>
    <div class="p-5 m-5 card-dark">
        <input class="input-dark " placeholder="This is test" required>
        {{!-- <input class="input-dark" type="number">!--}}
    </div>

    <div class="p-5 m-5 card-dark ">
        <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px">
        <a href="https://picsum.photos/200/300" rel="external">link</a>
        <button class="btn">Click</button>
        <a href="https://picsum.photos/200/300" class="small btn btn-secondary">Click</a>
        <a href="https://picsum.photos/200/300" class="small btn btn-secondary big">Click</a>
    </div>

    <div class="p-5 m-5 card-dark ">
        <p class="big-text"> This is text about foreve infinitive i live in Putivl</p>
    </div>
</main>