<main>
    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs ">
                <div class="nav-item ">
                    <a href="#" class="nav-link active">Page</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Canalog</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">Shop List</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card mb-2">
                                <a href="#" class="nav-link">Link</a>
                            </div>
                        </div>
                        <div class="nav-item mb2">
                            <div class="card">
                                <a href="/skils" class="nav-link">Hom page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Summary</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link disabled">Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row g-4">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Компютери та ноутбуки</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">MAC Book </a>
                </li>
            </ol>
        </div>
        <div class="col-12">
        </div>
        <div class="alert alert-dark">
            <h6 class="m-0">Hello Wordl<span class="badge text-bg-warning rounded-pill text-uppercase ms-5 ">Топ
                    продаж</span></h6>
        </div>
    </div>
</main>