<main>
    <hr>
    <hr>
    <h1>{{#with heading }}
        {{#with main}}
        {{title}}
    </h1>
    <br>
    <div class="text-secondary">
        {{text}}
        {{/with}}
    </div>
    <br>
    <br>
    <button class="btn btn-primary">
        Open page
    </button>
    <hr>
    <hr>
    <button class="text-info">
        Add to cart
    </button>

    <br>
    <hr>
    <hr>
    <h2>Stack Overflow</h2>
    <div class="text-secondary">First-class functions</div>
    <br>
    <br>
    <button class="btn btn-secondary">Open page</button>
    <br>
    <br>
    <button>Add to cart</button>
    <br>
    <br>
    <br>
    <h3>JavaScript Weekly</h3>
    <div class="text-secondary">Prototype-based inheritance newsletter</div>
    <button class="btn btn-dark ">Open page</button>
    <br>
    <br>
    <button class="btn btn-secondary btn-light ">Add to cart</button>
    <hr>
    <hr>
    <div class="display-1">HTML</div>
    <br>
    <hr>
    <div class="display-4">Outdated HTML tags</div>
    <div class="text-secondary">tag that have been identified as deprecated and not recommended for use in HTML version
        5</div>
    <br>
    <button class="btn btn-outline-warning">Орen</button>
    <br>
    <br>
    <h6>Sections</h6>
    <button class="btn btn-info btn-sm">Learn more</button>
    <hr>
    <br>
    <br>
    <hr>
    <div class="text-secondary text-uppercase ">About modules</div>
    <div class="text-secondary text-lowercase ">'Modules with import/export statements</div>
    <br>
    <br>
    <a href="https://google.com" class="btn btn-link">
        Open link page
    </a>
    <div class="card"></div>
    <div class="card-body">Github
        <ul>
            <li><a href="https://getbootstrap.com/" class="btn btn-link">bootstrap</a></li>
            <li><a href="https://getbootstrap.com/" class="btn btn-link">bootstrap</a></li>
            <li>
        </ul>
        {{/with}}
    </div>



</main>