<main>
    <div>
        <h1 class="text-center ">InnovaMind</h1>
        <div class="text-center text-uppercase">Welcome to our wonderful community</div>
        <hr>
        <div class="display-6 text-end ">InnovaMind</div>
        <h2 class="text-end">InnovaMind is a forward-thinking startup focused on innovation. We are dedicated to
            creating efficient and powerful software through the use of first-class functions.</h2>
        <br>
        <button class="btn btn-sm btn-outline-info">Show more</button>
        <br>
        <br>
        <div class="display-6 text-secondary ">Advantage</div>
        <br>
        <div class="display-4 text-secondary ">Efficiency</div>
        <br>
        <h6>Streamline your software development</h6>
        <br>
        <div class="text-secondary">Streamline your software development with our innovative platform...</div>
        <br>
        <button class="btn btn-outline-warning">Show more</button>
        <br>
        <br>
        <div class="display-4 text-secondary text-center ">Innovation</div>
        <br>
        <h6 class="text-center ">Forward-thinking approach to programming</h6>
        <br>
        <div class="text-secondary text-center ">Stay ahead of the curve with our forward-thinking approach to
            programming...</div>
        <br>
        <button class="btn btn-outline-warning">Show more</button>
        <br>
        <br>
        <div class="display-4 text-secondary text-end "> Collaboration </div>
        <br>
        <h6 class="text-end ">Connect with like-minded developers</h6>
        <br>
        <div class="text-secondary text-end">Connect with a community of like-minded developers to share knowledge and
            insights...</div>
        <br>
        <button class="btn btn-outline-warning">Show more</button>
        <br>
        <br>
        <div class="display-5">Terms of use</div>
        <br>
        <h5>Check out our requirements</h5>
        <br>
        <div class="text-secondary">By using or accessing the service, you agree to be bound by the terms and conditions
            outlined in the agreement.</div>
        <br>
        <button class="btn btn-success">Аccept</button>
    </div>
</main>