<div class="article">
	{{#each articles}}
	<div class="article_card">
		<div>
			<img class="article_photo" src="{{photo}}" alt="#">
		</div>
		<div class="article_name">
			<h2>{{name}}</h2>
		</div>
		<div class="article_description">
			<p>{{description}}</p>
		</div>
		<button type="submit" class="article_button">Read All</button>
	</div>
	{{/each}}

</div>