<main class="p-5">
	<div class="card p-5">
		<p id="test">Hello Wordl vvvvvvvvvvvvvvvvvv vvvvvvvvv vvvvvvvvvv vvvvvvvvvv vvvvvvvvvv vvvvvvvvvvv</p>
		<p id="test">Hello Wordl</p>
		<p id="test">Hello Wordl</p>
		<p id="test">Hello Wordl</p>
		<span class="test">Text</span>

	</div>
	<pre>Namazi</pre>
	<p>Привіт Тім</p>
	<button>Clice My</button>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div style="padding:50px 0; background:gray; height: 10px;">
		<span>Inline</span>
		<span>Inline</span>
		<span>Inline</span>
		<span class="block">Inline-Block Inline-Block Inline-Block Inline-Block Inline-Block </span>
	</div>
	<div>Block</div>
</main>